.container {
    display: flex;
    padding: 20px 0 0 20px;
}

.left {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.profilePic {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.left > button {
    margin-top: 10px;
}

.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    border: 2px solid aliceblue;
    border-radius: 20px;
    height: 95px;
}

.descr {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 65px;
}

.location {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 65px;
}

span {
    cursor: pointer;
}