
.error {
    border: solid red 2px;
}

.errorMessage {
    color: red;
}

.formError {
    border: 2px solid red;
    color: red;
    width: 350px;
    height: 30px;
    font-size: 0.8em;
}

.loginForm, .title {
    margin-left: 10px;
}